<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.braindroid.braindroid">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:label="Brain Droid"
        android:icon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">


        <activity android:name=".Splash"
            android:label="@string/app_name"
            android:noHistory="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity
            android:name=".Intro"
            android:label="Brain Droid"
            android:windowSoftInputMode="stateHidden">
        </activity>

        <activity
            android:name=".LogIn"
            android:label="Brain Droid"
            android:windowSoftInputMode="stateHidden">

        </activity>

        <activity
            android:name=".Register"
            android:label="Register"
            android:noHistory="true"
            android:windowSoftInputMode="stateHidden">

        </activity>

        <activity
            android:name=".MainMenu"
            android:label="Main Menu"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="stateHidden">
        </activity>

        <activity
            android:name=".MathGame"
            android:label="Math"
            android:noHistory="true"
            android:windowSoftInputMode="stateHidden">
        </activity>

        <activity
            android:name=".GameOneBeginActivity"
            android:label="Memory"
            android:windowSoftInputMode="stateHidden">
            <activity
                android:name=".SplashActivity"
                android:label="@string/game2_name"
                android:screenOrientation="sensorPortrait"
                android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
                <intent-filter>
                    <action android:name="android.intent.action.MAIN" />

                    <category android:name="android.intent.category.LAUNCHER" />
                </intent-filter>
            </activity>
        </activity>

        <activity
            android:name=".GameTwo"
            android:label="Vocab"
            android:windowSoftInputMode="stateHidden">
        </activity>

        <activity
            android:name=".Account"
            android:label="Account Settings"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="stateHidden">
        </activity>

        <activity
            android:name=".ProgressReports"
            android:label="Progress Reports"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="stateHidden">
        </activity>
        <activity
            android:name=".GameOneResultActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/Theme.AppCompat" >
        </activity>

        <activity
            android:name=".GameOneHelpActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/Theme.AppCompat" >
        </activity>

        <activity
            android:name=".GameOneMainActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/Theme.AppCompat" >
        </activity>

    </application>

</manifest>