<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.braindroid.braindroid">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:label="Brain Droid"
        android:icon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">


        <activity android:name=".Splash"
            android:label="@string/app_name"
            android:noHistory="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity
            android:name=".Intro"
            android:label="Brain Droid"
            android:windowSoftInputMode="stateHidden">
        </activity>

        <activity
            android:name=".LogIn"
            android:label="Brain Droid"
            android:windowSoftInputMode="stateHidden">

        </activity>

        <activity
            android:name=".Register"
            android:label="Register"
            android:noHistory="true"
            android:windowSoftInputMode="stateHidden">

        </activity>

        <activity
            android:name=".MainMenu"
            android:label="Main Menu"
            android:windowSoftInputMode="stateHidden">
        </activity>

        <activity
            android:name=".gameone"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".UserAccount"
            android:label="Account Settings"
            android:windowSoftInputMode="stateHidden">
        </activity>

        <activity
            android:name=".UserProgress"
            android:label="Progress Reports"
            android:windowSoftInputMode="stateHidden">
        </activity>

    </application>

</manifest>